# Nasdaq Composite Analysis
Provides insights into bullish and bearish days

In [1]:
import yfinance as yf
import pandas as pd
import pandas_ta as ta
import numpy as np
import matplotlib.pyplot as plt

In [2]:
ticker = '^ixic'

In [3]:
# Fetch data for a ticker
df = yf.download(ticker, start='2023-01-01', end='2024-09-05')

[*********************100%%**********************]  1 of 1 completed

In [4]:
df.head(1)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,10562.05957,10613.05957,10309.160156,10386.980469,10386.980469,4780650000

In [5]:
df = df.reset_index()  # This will reset the index and make the date a regular column

In [6]:
# Convert the 'download_date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

In [7]:
# Add columns for the day of the week and month
df['day_of_week'] = df['Date'].dt.day_name()
df['Month'] = df['Date'].dt.month_name()

In [9]:
df.tail(2)

,Date,Open,High,Low,Close,Adj Close,Volume,day_of_week,Month
418,2024-09-03,17585.449219,17585.449219,17057.789062,17136.300781,17136.300781,5813970000,Tuesday,September
419,2024-09-04,17015.710938,17232.650391,16984.669922,17084.300781,17084.300781,5011820000,Wednesday,September